.red-box{
	border: 5px red solid;
}

.little-orange{
	border: 5px orange solid;
}

.whole-container{
	border: 5px green solid;
}

.blue-box{
	border: 5px blue solid;
}

.blue-again{
	border: 5px blue solid;
}

.date-border{
	border: 5px purple solid;
}
